<% provide(:title, @user.name) %>
                      <!-- content -->                      
                        <div class="row">
                          
                         <!-- main col left --> 
                         <div class="col-sm-4 no-padding">
                           
                              <div class="panel panel-default">
                                <div class="panel-thumbnail"><img src="<%= facebook.get_picture(@user.uid,:type => "square", height: 370 , width: 370) %>" class="img-responsive"></div>
                                <div class="panel-body">
                                  <p class="lead"><%= @user.name %></p>
                                  <p>45 Followers, 13 Posts</p>
                                  
                                  <p>
                                    <img src="https://lh3.googleusercontent.com/uFp_tsTJboUY7kue5XAsGA=s28" width="28px" height="28px">
                                  </p>
                                </div>
                              </div>
                          
                          </div>
                          <div class="col-sm-1">
                            
                          </div>
                          <!-- main col right -->
                          <div class="col-sm-7 no-padding">
                               

                      
                               <div class="panel panel-default">
                                 <div class="panel-heading"><h4>Places</h4></div>
                                  <div id="places_block" class="panel-body">
                                  <%= render partial: "users/places", :locals => {:user => @user} %>
                                  </div>
                               </div>
               
                            <div class="panel panel-default">
                                 <div class="panel-heading"><a  href="#badges_modal" role="button" data-toggle="modal"class="pull-right">Give badges</a> <h4>Badges</h4></div>
                                  <div id="badges_block" class="panel-body">
                                  <%= render partial: "users/badges", :locals => {:user => current_user} %>
                                  </div>
                               </div>
                          </div>
                       </div>
          <!--/row-->


<!-- badges modal-->
<%= form_for([:badges, current_user] , remote: true)  do %>
<div id="badges_modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      Add places to find people around it
      </div>
      <div class="modal-body">
          <!-- <form class="form center-block"> -->
          <%= hidden_field_tag "user_id", "#{@user.neo_id}"  %>
          <div class="form-group">
            <h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= check_box_tag 'hot', true , @badges.include?('hot')  %> Hot</h5>
              <h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= check_box_tag 'smart', true , @badges.include?('smart') %> Smart</h5>
              <h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= check_box_tag 'macho', true , @badges.include?('macho') %> Macho</h5>
              <h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= check_box_tag 'moody', true , @badges.include?('moody') %> Moody</h5>
              <h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= check_box_tag 'kind', true , @badges.include?('kind') %> Kind</h5>
              <h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= check_box_tag 'stingy', true , @badges.include?('stingy') %> Stingy</h5>

            </div>
          <!-- </form> -->
      </div>
      <div class="modal-footer">
          <div>
          <%= submit_tag "Save", class: "btn btn-primary btn-sm", 'aria-hidden'=>"true", id: "badges_submit" %> 
          
          </div>  
      </div>
  </div>
</div>
</div>
<% end %>


